<p>Xin chào {{ displayName }},</p>
<p>Bạn đang sử dụng chức năng quên mật khẩu của ứng dụng quản lý thông tin bất động sản</p>
<p>Click vào đường link bên dưới để đi đến trang đổi mật khẩu</p>
<p>
    <a href="{{ url }}">Đổi mật khẩu</a>
</p>

<p>Nếu bạn không phải là người thực hiện yêu cầu này thì hãy bỏ qua nó!</p>